PHP_VERSION=8.3
PHP_BUILD_VERSION=83
ALPINE_VERSION=3.19
SPEC=
SW_VERSION=5.1.2
COMPOSER_VERSION=2.7.1

APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0
